
.doc-table {
    padding-left: 1em;
    padding-right: 1em;
}

.create-new-doc-btn-container {
    margin: 1em 1em 0 1em;

}

.create-new-doc {
    background: green;
    color: white;
    padding: 0.7em 1.5em 0.7em 1.5em;
    text-decoration: none;
    font-family: 'Poppins', serif;
    border-radius: 10px;
    list-style-type: none;
}

.create-new-doc:hover {
    cursor: pointer;
    background: #007AF3;
    color: white;
    font-weight: bold;
    text-decoration: none;
}


.table-container {
    background: #4e73df;
}

