
.main-logo {
    text-decoration: none;
    font-weight: 700;
    color: black;
    font-family: 'Poppins', serif;
}

span {
    color: #007AF3;
    font-size: 1.8em;
}

.dashboardNavItem {
    font-weight: bold;
}

.dashboardNavItem:hover {
    cursor: pointer;
}




