

<div th:fragment="my-footer">
  <!-- Footer -->
  <footer class="page-footer font-small indigo">

    <!-- Footer Links -->
    <div class="container">



      <!-- Grid row-->
      <hr class="rgba-white-light" style="margin: 0 15%;">

      <!-- Grid row-->
      <div class="row d-flex text-center justify-content-center mb-md-0 mb-4">

        <!-- Grid column -->
        <div class="col-md-8 col-12 mt-5" style="color: white">
          <p style="line-height: 1.7rem">AK Virtual Clinic provides consultations with general practitioners for all sorts of medical needs,
            including fevers, flu, constipation and rashes.
            For protective parents who don’t want to risk bringing your child outside,
            specialised consultations for newborns are available to keep those mini-humans safe –
            and to keep them from inevitably being rowdy at the clinic.</p>
        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row-->
      <hr class="clearfix d-md-none rgba-white-light" style="margin: 10% 15% 5%;">

      <!-- Grid row-->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="/"> akVirtualClinic.com</a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->
  <!-- Footer -->

</div>

