<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Token Confirmed</title>
    <link rel="stylesheet" href="/css/token_confirmed_thank_you_page.css">
</head>
<body>




    <script>
        setTimeout(function(){
            window.location.href = 'http://0.0.0.0:8080/login';
        }, 7000);
    </script>

  <h2
          style="text-align: center;
           font-family: 'Poppins', serif;
           margin: 5em 1em 0 1em;

            ">Thank you for confirming token. You will be redirected to login page in 5 seconds.</h2>
    <h3
            style="text-align: center;
            font-family: 'Poppins', serif;
            color: red"
    >Redirecting.....</h3>
</body>
</html>